<!DOCTYPE html>
<html>
    <head>
        <title>hi</title>
    </head>
    <body>
        <h1>welcome to the koder kwiz</h1>
        <!--put errything in a form-->
        <form method=POST> 
            <h3>are you a strong woman?</h3>
            <!--you wanna have the same sections have the same names but different values-->
            <input type="radio" name="response1" value="yes"> yasssss 
            <input type="radio" name="response1" value="no"> nah
            <h3>do you do code?</h3>
            <input type="radio" name="response2" value="yes"> of course
            <input type="radio" name="response2" value="no"> never
            <br>
            <!--have a lovely little submit button-->
            <input type="submit" value="kody with klose"> 
        </form>
    </body>
</html>

