<!DOCTYPE html>
<html>
    <head>
        <title>hi</title>
    </head>
    <body>
       DELETE THE 2 LINES BELOW // IT IS JUST AN EXAMPLE
        <h1>YOU DID THE KODER KWIZZZZ</h1>
        <%=@result%>
    </body>
</html>